.timeline{
    padding:0;

   

    .timline__first-item{
        height:80px;
    }



    .timline__header-container{
      display:flex;
        align-items:center;

    .timline__header{
      color:#000;
      font-size:22px;
    }
    }
 
   .timeline__dot-header{
       background:var(--main-color);
       color:#000;
       font-size:small;
       padding:8px;

        .MuiSvgIcon-root{
            font-size:20px;
            color:darkslategray;
        }
   }
  .timeline__dot{
      border-color:var(--main-color);
      padding:2px;
  }

  .MuiTimelineConnector-root{
      background-color:#eee;
  }

 .seperator__padding{
     padding-left:15px;
 }

}









.MuiTimelineItem-root::before{
    display:none
}




